html, body {
    font-family: 'Inria Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* background-image: url("assets/its-a-match.png");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.9; */
}

.container {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#logo {
    height: auto;
    width: 15%;
    max-width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2.5vw;
}

.its-a-match {
    height: 90%;
    width: 65%;
    border-radius: 2%;
    background-color: rgb(0, 255, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-size: 65px;
    color: #00FF00;
    opacity: 1;
}

.info {
    margin: 0;
    padding: 0;
    margin-top: 1.5vw;
    height: 100%;
    width: 95%;
    display: flex;
    gap: 0.5vw;
}

.sub-info {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 95%;
    text-indent: 4%;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 200%;
    font-weight: bold;
    color: white;
}

.data {
    margin: 0;
    padding: 0;
    margin-top: 1vw;
    height: 100%;
    width: 100%;
    text-indent: 5%;
}

p {
    margin: 0;
    padding: 0;
    padding-top: 1.2vw;
    font-size: 150%;
    font-weight: bold;
    color: white;
}

button {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 130%;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    padding: 0.7vw 8vw;
    cursor: pointer;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

button:hover {
    background-color: #f0f0f0;
}
