button {
  width: 100%;
  max-width: none;
}

.hide {
  display: none;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.more-auth-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.main-content-container {
  height: 550px;
  width: 90%;
  max-width: 650px;
  padding: 30px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  background: rgba(255, 255, 255, 0.3);
  width: 500px;
  height: 397px;
  padding: 32px;
  border-radius: 8px;
  text-align: center;
}


.login-box h2 {
  font-size: 64px;
  color: #fff;
}

.credential-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  width: 100% - 32px;
  height: 32px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #D9D9D9;
  border: 0px;
  border-radius: 16px;
  font-size: 24px;
}

.remember-me {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #fff;
}

.remember-me input {
  margin-right: 4px;
}

.login-box a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

::placeholder {
  color: #000;
  font-size: 24px;
}